#bib-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.2)),url(../images/principia2.jpeg);
}

.pdf-container {
    display: block;
    width: 90%;
    max-width: 900px;
    margin: auto;
}
#pdfViewer {
    width: 100%;
    height: 80vh;   /* 80% of screen height */
    border: none;
}

section{
    width: 90%;
    text-align: center;
}
#relatos-text{
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
}
h2{
    margin: 20px;
}
#relatos p{
    text-align: justify;
}
#relatos ul{
    max-width: 400px;
    margin: auto;
    margin-left: 20px;
}
#relatos li{
    text-align: left;
    margin: 3px;
}
#relatos a{
    text-decoration: none;
}
#relatos button{
    color: black;
    font-size: 16px;
    font-style: italic;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.lista {
    width: 100%;
    padding: auto;
}
.trabajo {
    display: flex;
    margin: auto;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.4rem;
}
.trabajo img {
    width: 47%;
    object-fit: cover;
    object-position: left;
    border-radius: 12px;
    aspect-ratio: 1.4;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.texto-trabajo {
    width: 47%;
    text-align: center;
}
.texto-trabajo h3 {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
    color: #000000;
}
.texto-trabajo h4 {
    text-align: left;
    font-size: 17px;
    color: #686868;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 20px;
    font-weight: 340;
}
.texto-trabajo p {
  font-size: 1rem;
  margin-bottom: 3px;
  color: #444;
  text-align: justify;
}
.texto-trabajo a{
    text-decoration: none;
    font-style: italic;
}

/*------ RECOMENDACIONES ------*/

.recomendaciones {
  margin: auto;
}

.recomendaciones h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.grid-libros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
}

.card-libro {
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}
.card-libro img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}
.contenido {
  padding: 1rem;
}
.card-libro h3 {
  margin: 0;
  font-size: 1.3rem;
}
.autor {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.4rem;
}

.descripcion {
  font-size: 0.95rem;
  margin-bottom: 0.8rem;
  color: #444;
  text-align: justify;
}

.boton {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  background-color: #1e3a8a;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #162c6b;
}

.otros-libros {
  max-width: 80%;
  margin: 2rem auto 2rem auto;
  padding: 0 2rem;
  border-top: 1px solid #eee;
  padding-top: 2rem;
}

.otros-libros h3 {
  font-size: 1.3rem;
  margin-bottom: 30px;
  color: #444;
  font-weight: 500;
}

.lista-libros {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.6rem 2rem;
}


.lista-libros li, .lista-libros a{
  margin-bottom: 0.4rem;
  margin-left: 10%;
  text-align: left;
  font-size: 0.95rem;
  color: #555;
  cursor: default;
  transition: color 0.2s ease, transform 0.2s ease;
}

.lista-libros li:hover, .lista-libros a:hover{
  color: #1e3a8a;
  transform: translateX(4px);
}