#sim-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.3)),url(../images/orbitales.png);
}

.tarjeta {
    display: flex;
    width: 90%;

    scroll-snap-align: start;
    scroll-margin-top: 40px;

	flex-direction: row;
    align-items: flex-start;
    gap: 1rem;

	margin: 30px auto;
    scroll-snap-align: start;
    scroll-margin-top: 30px;
}

.tarjeta img {
    width: 50%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

.texto-tarjeta {
	width: 50%;
    text-align: left;
    padding-left: 2rem;
}

.texto-tarjeta h3 {
	font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #1e3a8a;
}

.texto-tarjeta p {
    font-size: 1rem;
    font-weight: 400;
    color: #444;
    text-align: justify;
}

/* Enlaces */
.enlaces a {
    display: inline-block;
    margin: 1rem 0.6rem;
    padding: 0.5rem 1rem;
    background-color: #1e3a8a;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.enlaces a:hover {
    background-color: #162c6b;
}
